* {
    margin: 0;
}

h1 {
    
}   

.App {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: grid;

    grid-template-areas: 
    "h"
    "c"
    "f";

    grid-template-rows:  0.1fr 2fr 300px;
    
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}


